.left-sidebar {
  float: left;       /* Positionne la div à gauche */
  width: 45%;        /* Largeur de la colonne */
  background: lightblue;
}

.right-sidebar {
  float: right;      /* Positionne la div à droite */
  width: 45%;        /* Largeur de la colonne */
  background: lightgreen;
}

/*.container englobe les deux colonnes flottantes 
et grâce à overflow:auto, il s'adapte à leur hauteur 
pour éviter que le footer remonte*/
.container {         /**/
  overflow: auto;
}