.left-side-bar {
  float: left;       /* Positionne la div à gauche */
  width: 45%;        /* Largeur de la colonne */
  background: lightblue;
}

.right-side-bar {
  float: right;      /* Positionne la div à droite */
  width: 45%;        /* Largeur de la colonne */
  background: lightgreen;
}